@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(hill.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    font-family: 'Lateef', cursive;
}

form{
    background-color: rgb(75, 75, 121);
    width: 300px;
    height: 300px;
    text-align: center;
    margin-left: 750px;
    margin-top: 350px;
    border-radius: 20px;
    box-shadow: 40px 40px 40px black;
}

div input{
    padding: 10px;
    width: 250px;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
}

div input#password{
    margin-left: 1px;
}


.box{
    width: 300px;
}

#btn{
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background: transparent;
    cursor: pointer;
}

#btn:hover{
    background-color: rgb(40, 40, 94);
    transition: .5s;
}